header{
    background-color: rgb(138, 19, 19);
    padding-top: 30px;
    padding-bottom: 70px;
    margin-right: 50px;
    width: 100%;
}
footer{
    background-color: rgb(138, 19, 19);
    padding-top: 30px;
    padding-bottom: 70px;
    padding-right: 50px;
    margin-right: 50px;
    margin-left: 20px;
}
ul{
    text-align: right;
    list-style-type: none;
}
li{
    float: right;
 margin-right: 40px;
}
a{
    text-decoration: none;
    color: white;
}
.logo{
    float: left;
    text-align: center;
}
.block1{
    background-color: rgb(236, 188, 129);
    height: 300px;
    width: 100%;
    margin-top: -20PX;
}
h1{
    text-align: center;
}
#twodivs{
    width: 500px;
    height: 270px;
    margin-left: 400px;
    margin-top: 50px;
}